<%= form_for [wiki, collaborator], html: { class: "form-inline" } do |f| %>
  <div class="form-group">
    <%= f.email_field :email, 
      class: "form-control", 
      id: "collab", 
      required: true, 
      placeholder: "Email" 
    %>
  </div>
  <%= f.submit "Add", class: 'btn btn-primary btn-sm' %>
  <%= link_to "Cancel", "#", class: "js-cancel-add-collaborator" %>
<% end %>