<div class="jumbotron">
  <div class="about">

    <%= image_tag("book-logo.png", :alt => "Wix") %>

    <h1>Wix</h1>
    <p class="lead">
      A sleek, hassle-free wiki with robust access management and fast editing.
    </p>

  </div>
</div>