<div class="jumbotron">
  <h1>Wix</h1>
  <ul>
    <li>Create your own wiki</li>
    <li>Add and customize your articles using Markdown</li>
    <li>Invite collaborators to your wiki</li>
    <li>Set page-level viewing permissions and other ACLs</li>
  </ul>
  <button type="button" class="btn btn-primary btn-lg">See wix</button>
</div>