
<div class="wiki-nav">
  <div class="btn-group btn-group-justified">
    <ul class="dropdown-menu">
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Infrastructure</a></li>
    </ul>  
  </div>
</div>


<h2><%= @page.title %></h2>
<div class="wiki-links">
  <span><%= link_to new_wiki_page_path(@wiki), class: 'glyphicon glyphicon-file', alt: "New page" do %>
  <% end %></span><br /><br />
  <span><%= link_to edit_wiki_path, class: 'glyphicon glyphicon-edit', alt: "Edit page" do %>
  <% end %></span><br /><br />
</div>
<%= markdown(@page.body) %>
