<%= render_breadcrumbs %>
<h2>Magage users</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Access</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><%= @owner.name %></td>
    <td><%= @owner.email %></td>
    <td>Owner</td>
    <td>N/A</td>
  </tr>
  <% @collaborators.each do |c| %>
    <tr>
      <td>c.name</td>
      <td>c.email</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            Owner <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Read only</a></li>
            <li><a href="#">Read and write</a></li>
            <li><a href="#">Make owner</a></li>
          </ul>
        </div>
      </td>
      <td><span class="glyphicon glyphicon-ban-circle"></span></td>
    </tr>
  <% end %>
</table>
<%= link_to "Add Collaborator", "#", class: 'btn btn-success btn-large' %><br />