/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container {
  max-width: 730px;
}

.content {
  display: none;
}

.form-auth {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-muted {
  &:active, &:hover {
  text-decoration: none;
  }
}

.glyphicon {
    &:active, &:hover {
  text-decoration: none;
  }
  font-size:18px;
}

.edit-link {
  float:right
}


@import "twitter/bootstrap";