doctype html
html
  head
    title
      | Wix
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          - if current_user
            |  Hello 
            = current_user.email
            li
              = link_to "Home", root_path
            li
              = link_to "About", about_path
          - else
            li
              = link_to "Sign in", new_user_session_path
            li
              = link_to "Home", root_path
            li
              = link_to "About", about_path
        h3.text-muted
          | Wix
      - if flash[:notice]
        .alert.alert-success
          button.close[type="button" data-dismiss="alert" aria-hidden="true"]
            | ×
          = flash[:notice]
      - elsif flash[:error]
        .alert.alert-danger
          button.close[type="button" data-dismiss="alert" aria-hidden="true"]
            | ×
          = flash[:error]
      - elsif flash[:alert]
        .alert.alert-info
          button.close[type="button" data-dismiss="alert" aria-hidden="true"]
            | ×
          = flash[:alert]
      .jumbotron
        = yield
      .footer
        p
          | No copyright
